body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    width: 100vw;
    background: radial-gradient( rgb(14, 0, 19) 25%, rgb(13 6 28) 100%)
}


.header_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header_container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.274);
}

.header_container::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(240, 102, 240, 0.226), transparent);
    transition: .5s;
}

.header_container:hover::after {
    left: 100%;
}

.header_container > .header_logo {
    padding: 1.3rem 10%;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.header_container > .navbar_container {
    padding: 1.3rem 10%;
    position: relative;
}



.header_container > .navbar_container > a {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    -webkit-transition: color 0.5s, font-size 0.5s;
    transition: color 0.5s, font-size 0.5s;
}

.header_container > .navbar_container > a:hover {
    font-size: 1.5rem;
}



#check {
    display: none;
}

.header_container > .menu_icon {
    position: absolute;
    color: #fff;
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
    right: 5%;
    bottom: 20%;
}

.content {
    position: fixed;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.content > h1 {
    color: #fff;
    margin-top: 15rem;
    font-size: 5rem;
    padding: 1.3rem 10%;
}


.content > .body_img > img {
    width: 30rem;
    margin-top: 10rem;
    opacity: .5;
    border-radius: 50%;
}


.footer {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 47rem;
    width: 100%;
    height: 20%;
}

.footer > h1 {
    color: white;
    font-size: ;
}

/* Media queries */

@media (max-width: 992px) {
    .header_container > .header_logo {
        padding: 1.3rem 5%;
    }
    .header_container > .navbar_container {
        padding: 1.3rem 5%;
    }

    .content > .body_img {
        padding-left: 1rem;
        transform: scale(1.5);
        opacity: .3;
    }

    .content > .body_img > img {
        transform: scale(1.5, 1.5)
    }

    .content {
        position: fixed;
        width:100%;
        display: flex;
        flex-direction: column;
    }
    .content > h1 {
        color: #fff;
        margin-top: 5.9rem;
        font-size:3rem;
        margin-left: 3rem;
        height: 2rem;
    }
}

@media (max-width: 768px) {
    .header_container {
        backdrop-filter: blur(50%);
        background-color: rgba(0, 0, 0, 0.274);
        z-index: 100;
    }
     .header_container > .menu_icon {
        display: inline-flex;
    }
    #check:checked~.menu_icon #open {
        display: none;
    }
    .header_container > .menu_icon > #close {
        display: none;
    }
    #check:checked~.menu_icon #close {
        display: block;
    }
    .header_container > .navbar_container {
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        height: 0;
        transition: .3s ease;
        overflow: hidden;
    }
    #check:checked~.navbar_container {
        height: 11rem;
        background-color: rgba(0, 0, 0, 0.788);
    }
    .header_container > .navbar_container > a {
        display: block;
        font-size: 1rem;
        margin: 1.5rem 0;
        text-align: center; 
        opacity: 0;
        transition: .2s ease;
    }
    #check:checked~.navbar_container > a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.05s * var(--i))
    }


}
